@model IList<StudIS.Web.Mvc.Models.StudentEnrollementViewModel>

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>
            <th>
                JMBAG
            </th>
            @if (Model.Count() > 0) {
                foreach (var c in Model.First().scores) {
                    <th>
                        @c.Component.Name (@c.Component.MaximumPoints)
                    </th>
                }
            }
        </tr>

        @for (int i = 0; i < Model.Count(); i++) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].scores.First().Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].scores.First().Student.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].scores.First().Student.StudentIdentificationNumber)
                </td>

                @if (Model.Count() > 0) {
                    for (int j = 0; j < Model[i].scores.Count(); j++) {
                        <td>
                            @Html.EditorFor(modelItem => Model[i].scores[j].Value, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        @Html.HiddenFor(modelItem => Model[i].scores[j].Component.Id)
                        @Html.HiddenFor(modelItem => Model[i].scores[j].Component.Course.Id)
                        @Html.HiddenFor(modelItem => Model[i].scores[j].Student.Id)
                        @Html.HiddenFor(modelItem => Model[i].scores[j].Id)
                    }
                }
            </tr>
        }
    </table>
    <hr />
    <div>
        @if (Model.Count() > 0) {
            @Html.ValidationMessage("prag_error", "", new { @class = "text-danger" })
            <br />
            <input type="submit" value="Spremi" class="btn btn-success" />
            @Html.ActionLink("Natrag", "Index", new { }, new { @class = "btn btn-info" })
        }
    </div>
}